<table>
    <tr>
        <td>
          <select onchange={{action (mut filter.attribute) value="target.value"}}>
              <option value=''>Choose</option>
            {{#each attributes as |attribute|}}
                <option value={{attribute}}  selected={{eq filter.attribute attribute}}>{{attribute}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <select  onchange={{action (mut filter.operator) value="target.value"}}>
            <option value=''>Choose</option>
            {{#each-in operators as |key value|}}
                <option value={{key}} selected={{eq filter.operator key}}>{{value}}</option>
            {{/each-in}}
          </select>
        </td>
        <td>{{input value=filter.value}}</td>
        <td><button {{action 'pushFilter' filter}}>+</button></td>
    </tr>
    <tr>
      <td>{{input value=page}} of <span class="last_page">{{last_page}}</span></td>
      <td>{{input value=per_page}}</td>
      <td>
          <select  onchange={{action (mut direction) value="target.value"}}>
            <option value=''>Choose</option>
            {{#each directions as |d|}}
                <option value={{d}} selected={{eq d direction}}>{{d}}</option>
            {{/each}}
          </select>
      </td>
      <td>
          <select  onchange={{action (mut sort) value="target.value"}}>
            <option value=''>Choose</option>
            {{#each attributes as |attribute|}}
                <option value={{attribute}}  selected={{eq sort attribute}}>{{attribute}}</option>
            {{/each}}
          </select>
      </td>
    </tr>
    {{#each filters as |filter|}}
      <tr>
          <td>{{filter.attribute}}</td>
          <td>{{get operators filter.operator}}</td>
          <td>{{filter.value}}</td>
          <td><button {{action 'removeFilter' filter}}>-</button></td>
      </tr>  
    {{/each}}
</table>

<table>
  {{#each records as |record|}}
    <tr>
        {{#each attributes as |attribute|}}
          <td>{{get record attribute}}</td>
        {{/each}}
    </tr>  
  {{/each}}
</table>
